/*default version*/
@font-face {
  font-family: 'Linux Libertine';
  src: 
  local('Linux Libertine'),
  local('Linux-Libertine'),
  /*  In this case we have two lines specifying the local font because 
  the font name has more than one word in it. The hyphenated version 
  caters for the way font names are stored on certain operating systems 
  */
 /* url(../fonts/LinLibertine_DRah.ttf)  light version, 100 */
  url('../fonts/LinLibertine_Rah.ttf')  /* regular version, 300*/
  /*url(../fonts/LinLibertine_Mah.ttf)  monospace version*/
 /* url('https://raw.githubusercontent.com/MissDitch/FCC-wikipedia-viewer/master/fonts/LinLibertine_Rah.ttf') */
  format('truetype');
  font-weight: 300;
}
/*bold version */
@font-face {
  font-family: 'Linux Libertine';
  /* url(../fonts/LinLibertine_RBah.ttf) bold version, 600  slightly bigger x-height*/
  /* url(../fonts/LinLibertine_RZah.ttf) medium bold version, 500 */
  src: 
  local('Linux Libertine'),
  local('Linux-Libertine'),
  url('../fonts/LinLibertine_RZah.ttf')
  /* url('https://raw.githubusercontent.com/MissDitch/FCC-wikipedia-viewer/master/fonts/LinLibertine_RZah.ttf') */
  format('truetype');
  font-weight: 500;
}
 

body {
 font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
}
h3 {
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  
}
h1 {  
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 300;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: -0.03125em; 
}
h1 span {
  /* 16 * 0.0625 = 1px */
  letter-spacing: -0.0925em;
}
li {
  list-style-type: none;
  padding: 5px 0;
}
a {
  padding: 5px 0;
}
a, a:focus, a:visited, button {
  color: #0072ff;
   transition: color 0.5s ease;
}
a:hover, a:active, button:hover, button:active {
  color: #000000;  
}
a, a:hover, a:focus {
  text-decoration: none;
}
p:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #00c6ff;
  display: inline-block;
  transform: translate(10px, 2px);
}

.container {
  position: relative;
  padding: 0px 0;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.center {
  text-align: center;
}
.invisible {
  opacity: 0;
}


/* icons, random and search buttons*/
.stack {
  position: relative;
}
#randomLink, #searchLink {
  font-size: 18px;
  width: 165px;
  clear: both;
  z-index: 2;
  top: 0px;
}
#randomLink {
  float: right; 
  right: 0px;
  text-align: right;
  padding: 15px 10px 15px 5px;
}
#searchLink { 
  float: left;  
  left: 0px;
  text-align: left;
  padding: 15px 5px 15px 10px;
}
#leftIcon svg {
  float: right;  
}
#rightIcon svg {
  float: left;
}
svg {
  position: relative;
  width: 80px;
}
svg#movingIcon {
  position: absolute;
  left: 0px;
  z-index: -10;
  opacity: 0;    
  transition: all 0.6s ease-in-out;
}
svg#movingIcon.moving {  
  opacity: 1;
  -webkit-transform: rotate(75deg) translate(130px, -44px) scale(0.75, 0.75); 
  -moz-transform: rotate(75deg) translate(130px, -44px) scale(0.75, 0.75); 
  -ms-transform: rotate(75deg) translate(130px, -44px) scale(0.75, 0.75); 
  -o-transform: rotate(75deg) translate(130px, -44px) scale(0.75, 0.75); 
  transform: rotate(75deg) translate(130px, -44px) scale(0.75, 0.75); 
}


/* input field and button*/
#searchInput {
  text-align: center;
}
input{
  background-color: rgba(255,255,255, 0);
  width: 35px;
  border-radius: 36px;
  padding: 3px 6px;
  border-width: 4px;
  border-style: solid;
  border-color: #000000;
  outline: none;
}
input.expand {
  width: 220px;
  height: 40px;
  transform-origin: center right;
  transition: width 0.6s ease-in-out;
}
button#searchBtn {
  background-color: transparent;
  box-sizing: border-box;
  padding: 14px;
  border-width: 0px;
  border-style: outset;
  border-color: transparent;
  border-image: none;
  outline: none;
}


/* autocomplete list*/
ul#wikiSuggestions {
  padding: 5px 10px 0 38px;
  text-align: left;
}
ul#wikiSuggestions a:focus, ul#wikiSuggestions a:hover{
  text-decoration: none;
  color: #ffffff;
  padding: 3px; 
  background-color:#00c6ff;
}
ul#wikiSuggesions li{
  padding: 3px 0;
}


/* search result list */

/* Android (<= 4.4) stock browser friendly CSS animations
 http://www.dynamicdrive.com/forums/entry.php?339-Android-(%26%238804%3B4-4)-stock-browser-friendly-CSS-Animations */

/* search results list slide up  */
@keyframes slideUp {
  0% { transform: translateY(400px); }
  100% { transform: translateY(0px); }
}
@-webkit-keyframes slideUp {
  0% { transform: translateY(400px); }
  100% { transform: translateY(0px); }
}
@-moz-keyframes slideUp {
  0% { transform: translateY(400px); }
  100% { transform: translateY(0px); }
}
@-o-keyframes slideUp {
  0% { transform: translateY(400px); }
  100% { transform: translateY(0px); }
}


/* search results list fade in  */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.results{
  position: relative;
  padding: 10px;
  opacity: 0;
}
.results.active {
  -webkit-animation:  fadeIn .65s .5s forwards, slideUp .65s .5s forwards;
  -moz-animation: fadeIn .65s .5s forwards, slideUp .65s .5s forwards;
  -o-animation: fadeIn .65s .5s forwards, slideUp .65s .5s forwards;
  animation: fadeIn .65s .5s forwards, slideUp .65s .5s forwards;
  
}
.results.visible {
  opacity: 1;
}
.results div{
  padding: 0px 5px;
  color: #000000;
}
.results h3 {
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  border-bottom: 1px solid #0072ff;  /*  a2a9b1 wikipedia color */
  margin: 8px 0;
  padding: 0 0 3px 0;
}
ul#wikiResults {
  padding: 0 5px;
}
#wikiResults li {
  padding: 1px 0;
}



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 20em) {  /* 320 / 16 = 20em */
  ul#wikiSuggestions {
    padding: 5px 10px 0 38px;
  }
}   

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 30em) {  /* 480 / 16 = 30em */
  ul#wikiSuggestions {
    padding: 5px 10px 0 135px;
  }

/* Small Devices, Tablets */
@media only screen and (min-width : 48em) {  /* 768 / 16 =  48em */
  ul#wikiSuggestions {
    padding: 5px 10px 0 232px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 62em) {  /* 992 / 16 = 62em */
  h1 {
    font-size: 54px;
  }
  li {
    padding: 2px 0;
  }
  ul#wikiSuggestions {
    padding: 5px 10px 0 20px;
  }
  ul#wikiResults {
    padding: 5px 10px 0 10px;
  }
  .results div{
    color: #0072ff;
    transition: color 0.3s ease-in-out;
  }
  .results div:hover {
   color: #000000;
  }
  .results h3 {
    border-bottom: 1px solid #a2a9b1;  /*   wikipedia color */
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 75em) { /* 1200 / 16 = 75em */
  ul#wikiSuggestions {
    padding: 5px 10px 0 51px;
  }
}
   

