/*default version*/
@font-face {
  font-family: 'Linux Libertine';
  src: 
  local('Linux Libertine'),
  local('Linux-Libertine'),
  /*  In this case we have two lines specifying the local font because 
  the font name has more than one word in it. The hyphenated version 
  caters for the way font names are stored on certain operating systems 
  */
 /* url(../fonts/LinLibertine_DRah.ttf)  light version, 100 */
  url('../fonts/LinLibertine_Rah.ttf')  /* regular version, 300*/
  /*url(../fonts/LinLibertine_Mah.ttf)  monospace version*/

  format('truetype');
  font-weight: 300;
}
/*bold version */
@font-face {
  font-family: 'Linux Libertine';
  /* url(../fonts/LinLibertine_RBah.ttf) bold version, 600  slightly bigger x-height*/
  /* url(../fonts/LinLibertine_RZah.ttf) medium bold version, 500 */
  src: 
  local('Linux Libertine'),
  local('Linux-Libertine'),
  url('../fonts/LinLibertine_RZah.ttf')
  format('truetype');
  font-weight: 500;
}


body {
 /* background-color: #000000;  */
 font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
}
h3 {
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;

  font-weight: 300;
  
}
h1 {  
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 300;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: -0.03125em; 
}
h1 span {
  /* 16 * 0.0625 = 1px */
  letter-spacing: -0.0925em;
}
a, a:hover, a:focus {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  padding: 0px 0;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.center {
  text-align: center;
}

/* icons, random and search buttons*/
.stack {
  position: relative;
}
#randomLink, #searchLink {
  width: 150px;
  clear: both;
  z-index: 2;
  top: 0px;
}
#randomLink {
  float: right; 
  right: 0px;
  text-align: right;
  padding: 5px 10px 15px 5px;
}
#searchLink { 
  float: left;  
  left: 0px;
  text-align: left;
  padding: 5px 5px 15px 10px;
}
#leftIcon svg {
  float: right;  
}
#rightIcon svg {
  float: left;
}
svg {
  width: 70px;
}

.invisible {
  opacity: 0;
}


input{
    background-color: rgba(255,255,255, 0);
    border-radius: 36px;
    padding: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: yellowgreen;
    outline: none;
}
ul#wikiSuggestions {
  padding: 10px;
}
ul#wikiSuggestions a:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: blue;
}
ul#wikiSuggestions a:focus{
   text-decoration: none;
  color: #ffffff;
   background-color: blue;
}
ul#wikiLinks a:hover {
  border-right: 10px solid red;
}


.results{
  padding: 10px;
 /* margin: 10px 0; //  */
 /*  col-md-offset-4 does not work if you manually apply margin to the same element.
  Instead a margin of 0 auto will be applied*/ 
}
.results h3 {
  font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  border-bottom: 1px solid #a2a9b1;
  line-height: 32px;
}


/* larger devices */
@media screen and (min-width: 39.9375em) {
 
  h1 {
    font-size: 54px;
  }
  /* 
  input {
    width: 300px;
  } */
 
}   